<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <mirrors>
        <mirror>
          <id>maven-default-http-blocker</id>
          <mirrorOf>external:http:*</mirrorOf>
          <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
          <url>http://192.168.11.60:8081</url>
          <blocked>false</blocked>
        </mirror>
    </mirrors>
  <servers>
    <server>
      <username>admin</username>
      <password>cmVmdGtuOjAxOjE3MTA1MTQ3MjM6b0Y4SVRYQzFpV2tzRlY4RlhFR2g1OVpSRnJl</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>cmVmdGtuOjAxOjE3MTA1MTQ3MjM6b0Y4SVRYQzFpV2tzRlY4RlhFR2g1OVpSRnJl</password>
      <id>snapshots</id>
    </server>
  </servers>
</settings>