<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
</head>
<body>

<table align="center">
    <tr>
        <td width="100%">
            <table width="800">
<!--                <tr>-->
<!--                    <td align="center" width="800">-->
<!--                        <table width="100%">-->
<!--                            <tr>-->
<!--                                <td align="center" cellpadding="4"-->
<!--                                    style="font-size: 26px; color: #001D4A; font-family: sans-serif;">-->
<!--                                    <b>-->
<!--                                        A subscription from website-->
<!--                                    </b>-->
<!--                                </td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </td>-->
<!--                </tr>-->

                <tr>
                    <td align="center" width="800">
                        <table cellspacing="16"
                               style="font-size: 16px; line-height: 150%; color: #001D4A; font-family: sans-serif;"
                               width="100%;">
                            <tr>
                                <td>Hi CS team,</td>
                            </tr>

                            <tr>
                                <td>Enquiry Request Form - Consumer Web</td>
                            </tr>

                            <tr>
                                <td>
                                    The below information is the enquiry request from Consumer Web:
                                        <br>
                                        Name: [(${name})]
                                        <br>
                                        Email: [(${email})]
                                        <br>
                                        Contact Number:  [(${contactNumber})]
                                        <br>
                                        Message: [(${message})]
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Best Regards,
                                    <br>
                                    Test Finance System
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>

</body>
</html>