<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
</head>

<body>

    <table align="center">
        <tr>
            <td width="100%">
                <table width="800">
                    <!--                <tr>-->
                    <!--                    <td align="center" width="800">-->
                    <!--                        <table width="100%">-->
                    <!--                            <tr>-->
                    <!--                                <td align="center" cellpadding="4"-->
                    <!--                                    style="font-size: 26px; color: #001D4A; font-family: sans-serif;">-->
                    <!--                                    <b>-->
                    <!--                                        A subscription from website-->
                    <!--                                    </b>-->
                    <!--                                </td>-->
                    <!--                            </tr>-->
                    <!--                        </table>-->
                    <!--                    </td>-->
                    <!--                </tr>-->

                    <tr>
                        <td align="center" width="800">
                            <table cellspacing="16"
                                style="font-size: 16px; line-height: 150%; color: #001D4A; font-family: sans-serif;"
                                width="100%;">
                                <tr>
                                    <td>Hi CS team,</td>
                                </tr>

                                <tr>
                                    <td>Loan Application Request Form - Consumer Web</td>
                                </tr>

                                <tr>
                                    <td>
                                        The below information is the loan application request from Consumer Web:
                                        <br>
                                        ID: [(${id})]
                                        <br>
                                        Status: [(${status})]
                                        <br>
                                        Loan Amount: [(${loanAmount})]
                                        <br>
                                        Repayment Cycle: [(${repayCycle})]
                                        <br>
                                        Loan purpose: [(${loanPurpose})]
                                        <br>
                                        Salutation: [(${salutation})]
                                        <br>
                                        English Name: [(${engName})]
                                        <br>
                                        Hong Kong ID: [(${hkid})]
                                        <br>
                                        Date of birth: [(${dob})]
                                        <br>
                                        Home address: flat: [(${flat})], floor: [(${floor})], block: [(${block})], building: [(${building})], street: [(${street})], area: [(${area})]
                                        <br>
                                        Living Period: [(${livingPeriod})]
                                        <br>
                                        Nationality: [(${nationality})]
                                        <br>
                                        Mobile: [(${mobile})]
                                        <br>
                                        Email: [(${email})]
                                        <br>
                                        Position: [(${position})]
                                        <br>
                                        Monthly income: [(${monthlyIncome})]
                                        <br>
                                        Company name: [(${companyName})]
                                        <br>
                                        Company phone: [(${companyPhone})]
                                        <br>
                                        Company address: flat: [(${companyFlat})], floor: [(${companyFloor})], block: [(${companyBlock})], building: [(${companyBuilding})], street: [(${companyStreet})], area: [(${companyArea})]
                                        <br>
                                        Department: [(${department})]
                                        <br>
                                        Job nature: [(${jobNature})]
                                        <br>
                                        Employment period (year): [(${employmentYear})]
                                        <br>
                                        Employment period (month): [(${employmentMonth})]
                                        <br>
                                        Other income: [(${otherIncome})]
                                        <br>
                                        Marital status: [(${maritalStatus})]
                                        <br>
                                        Living status: [(${livingStatus})]
                                        <br>
                                        Housing expenses: [(${housingExpenses})]
                                        <br>
                                        HKID upload: [(${hkidFileName})]
                                        <br>
                                        Address proof upload: [(${addressProofFileName})]
                                        <br>
                                        Income proof upload: [(${incomeProofFileName})]
                                        <br>
                                        Account proof upload: [(${accountProofFileName})]
                                        <br>
                                        TU Consent: [(${tuConcent})]
                                        <br>
                                        Personal Information Consent: [(${personalInfoConcent})]
                                        <br>
                                        Marketing Communication Consent: [(${marketingCommunicationConcent})]
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        Best Regards,
                                        <br>
                                        Test Finance System
                                    </td>
                                </tr>

                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>

</body>

</html>